*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(6, 6, 65);
}
/* NAVBAR */
.navbar-container{
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar{
  display: flex;
 justify-content:space-between;
color:rgb(22, 230, 230);
 padding: 10px;
 background-color: rgb(98, 12, 179);
}
.navbar-2{
  display: flex;
 gap: 10px;
}
.navbar-2>p{
  padding: 15px;
  border: black solid 2px;
  margin-left: 10px;
  border-radius: 15px;
  background-color: rgb(43, 226, 205);
  color: black;
  border: none;
}
.navbar-2>p:hover{
  background-color: palevioletred;
  color: black;
  cursor: pointer;
}
/* NAME-PROFILE */
.name{
  position: relative;
  padding: 20px;
  color:white;
}
.name-1>h2,h4,h3,p{
  padding:10px;
  font-weight: bolder;
}
.name-2{
  position: absolute;
 top:20px;
  left: 750px;

}
.name-2>img{
  width:500px;
  height:300px;
}
/* PROJECTS */
.project{
  /* display: flex;
  justify-content: center; */
  margin-top: 15px;
}
.project-1{
position: relative;
top:30px;
}
.project-1>h1{
  font-size:50px;
  font-weight:bolder ;
  color: goldenrod;
  padding:30px;
  text-align: center;
}
.project-container{
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
.project-container-1{
  border: solid rgb(217, 17, 84) 2px;
  width: 250px;
  padding: 10px;
  margin:45px;
  background-color: black;
  color: white;
  text-align: center;
 
}
.project-container-1:hover{
 cursor: pointer;
}
.project-container-1>img{
 width: 250px;
 height: 200px;
}
/* SKILLS */
.top>h1{
  padding: 10px;
  text-align: center;
  color: goldenrod;
}
.top-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
 

}
.top-container p{
 background-color: rgb(202, 190, 16);
  color:black;
  border: 2px solid black;
  flex-grow:2 ;
  text-align: center;
  flex-basis: 25%;
  gap: 20px;
  padding: 10px;
}
/* CONTACT */
.contact{
text-align: center;
color: gold;
}
input {
width: 350px;
padding: 10px;
margin: 10px;
}
.contact-form{
 display: flex;
 justify-content: center;
 position: relative;
 bottom: 50px;
}
button{
 margin: 5px;
 padding: 13px;
 background-color: blueviolet;
 color: black;
 border-radius: 15px;
 border: none;
}
/* ABOUT ME */
.about{
  text-align: center;
  color:chocolate;
  border: 2px solid black;
  padding:25px;
  background-color: rgb(98, 12, 179);
}
.about-2{
  color: black;
  margin: 15px;
}
.about-2>p{
  font-size:large;
}
#menuicon{
  color: black;
  width: 50px;
  display: none;
}
.name-4{
  display: none;
}
.area{
  width: 370px;
   height: 80px;
}
#sidenavbar{
  width: 50%;
  height:100dvh;
  position: fixed;
  z-index: 25;
  top:0.0;
  left: -50%;
  transition-duration:2s;
  display: flex;
  flex-direction: column;
}
.sidenavbar1>p{
  padding: 20px;
}
#close{
  cursor: pointer;
  color: black;
  margin:10px;
  padding: 20px;
  text-align: right;
  font-size: x-large;
  font-weight: bolder;
}
.sidenavbar1{
  background-color: blueviolet; 
  color: white;
  height:100dvh;
}
@media screen and (max-width:600px){
  body{
    font-size: 16px;
  }
 .navbar-2{
  display: none;
 }
 #menuicon{
  display: block;
 }
 .name-4{
  display:block;
  position: relative;
  top: 50px;
}
.name-4>img{
  width: 320px;
  height:300px;
}
  .project{
    text-align: center;
  } 
  .project-container{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .project-container-1{
    border: solid rgb(217, 17, 84) 2px;
    width:250px;
    padding: 30px;
    background-color: black;
    color: white;
    position: relative;
    right:5%;
}
.project-container-1>img{
  width:250px;
  height:250px;
 }
.about{
  padding: 15px;
}
.name-2{
  display: none;
}
.contact{
  text-align: center;
}
input{
  width:300px;
padding: 10px;
margin: 10px;
}
.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.area{
  width:330px;
  height:70px;
}
#hulk{
  display: none;
}
}